<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368479429643-d37v2bt6ad070i0mqcmb450bof6qes2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368479429643-d37v2bt6ad070i0mqcmb450bof6qes2r</string>
	<key>API_KEY</key>
	<string>AIzaSyBKx7Hsno9f29_J_-L4CiEP0vmQxeAHWWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>368479429643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.Landmark</string>
	<key>PROJECT_ID</key>
	<string>landmark-364af</string>
	<key>STORAGE_BUCKET</key>
	<string>landmark-364af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368479429643:ios:deddf722a9546505a9930e</string>
	<key>DATABASE_URL</key>
	<string>https://landmark-364af.firebaseio.com</string>
</dict>
</plist>